PORT=3000
NODE_ENV=development
GEMINI_API_KEY=coloque_sua_chave_do_gemini
API_KEY=crie_uma_chave_privada_para_consumir_a_api
MAX_PDF_SIZE_MB=10
CACHE_TTL_MINUTES=30
CACHE_MAX_ENTRIES=100
GEMINI_MODEL=gemini-2.5-flash
